{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}
<h1>你好,{{ current_user.name }}</h1>
{% if form %}
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endif %}

<ul>
    <a href="{{ url_for('main.storys') }}">读过去</a><br>
    <p>--------------------</p>
    <a href="{{ url_for('main.write_story') }}">写反思</a>
    <p>--------------------</p>
    <input type="text" , placeholder="beloved" , id="beloved">
    <li><button onclick="openHeart()">敞开心扉</button></li>
    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">添加好友</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">查找好友</h4>
                    </div>
                    <div class="modal-body">
                        <form name='friend'>
                            <input type='text' , placeholder='输入好友用户名' , name="friend_input"></input>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addFriend()">查询</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <p>-----------------</p>
    <li><b>Friends list</b></li>
    {% for friend in friends %} {% set name %} {{ friend.name }} {% endset %}
    <span>
    <a href="{{ url_for('main.user', username=friend.name)  }}">{{ name }}</a>
    <button onclick="askShare(this)">求分享</button>
    <a href="{{ url_for('main.storys', redirect=1, recipient=friend.id, next=url_for('main.index')) }}">分享</a></span> {% if friend.id in current_user.be_beloved %}
    <b>beloved</b> {% endif %}
    <br> {% endfor %}
</ul>

{% endblock %} {% block scripts %} {{ super() }}
<script>
    function askShare(elem) {
        name = $(elem).siblings('a').first().text().trim()
        console.log(name)
        $.post('/ask_share', {
            username: name
        }).done(function(response) {
            console.log('request success')
        }).fail(function(response) {
            console.log('request fail')
        })
    }

    function openHeart() {
        var name = document.getElementById('beloved').value;
        if (name == '') {
            alert('请输入beloved用户名');
            return;
        }
        console.log('open heart to:' + name);
        $.post('/open_heart', {
            username: name
        }).done(function(response) {
            if (response['status'] == 1) {
                alert('敞开了心扉， to: ' + name);
            } else {
                alert(response['result']);
            }
            console.log('request success')
        }).fail(function(response) {
            console.log('request fail!')
        })
    }

    function addFriend() {
        var txt;
        var person = friend.friend_input.value;
        if (person == null || person == "") {
            alert('没有输入用户名');
        } else {
            $.get('/search_friend', {
                username: person,
            }).done(function(response) {
                if (response['status'] == 0) {
                    alert(response['search_result']);
                } else {
                    if (confirm('确定添加好友？')) {
                        $.get('/request_add_friend', {
                            username: person,
                        }).done(function(response) {
                            console.log('request success')
                        }).fail(function(response) {
                            console.log('request fail')
                        })
                    } else {
                        alert('你取消了加好友。')
                    }
                }
            }).fail(function(response) {
                alert('error code:' + response.status);
            });
        }
    }
</script>
{% endblock %}