{% extends "base.html" %} {% block title %} Messages {% endblock %} {% block app_content %}
<h1>Messages</h1>
{% for message in messages %} {% include '_message.html' %} {% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>Newer messages
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                    Older messages<span aria-hidden="true">&rarr;</span>
                </a>
        </li>
    </ul>
</nav>
{% endblock %} {% block scripts %} {{ super() }}
<script>
    function agree_request(elem) {
        console.log('-----')
        console.log(location.href)
        id = $(elem).parent().attr('id')
        $.get('/agree_request', {
            message_id: id
        }).done(function(response) {
            if (response['result_status']) {
                $(elem).parent().html("<p>已处理</p>");
            } else {
                console.log('++++++')
                console.log(location.href)
                console.log(history);
                document.write(response)
                document.close()
                    // $('html').html(response)
                console.log('request success')
                console.log('++++++')
                console.log(location.href)
            }
        }).fail(function(response) {
            console.log('request fail')
            $(elem).parent().html("<p>处理失败</p>");
        })
    }

    function refuse_request(elem) {
        id = $(elem).parent().attr('id')
        console.log(id)
        $.get('/refuse_request', {
            message_id: id
        }).done(function(response) {
            console.log('request success')
            $(elem).parent().html("<p>已处理</p>");
        }).fail(function(response) {
            $(elem).parent().html("<p>处理失败</p>")
            console.log('request fail')
        })
    }
</script>
{% endblock %}