{% extends "base.html" %} {% block app_content %}
<table class="table table-hover">
    <tr>
        <td>
            <h1>用户: {{ user.name }}</h1>

            {% if user.last_seen %}
            <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
            {% endif %} {% if user == current_user %}
            <p><a href="{{ url_for('main.edit_profile') }}">编辑资料</a></p>
            {% endif %} {% if current_user.id in user.beloved %} {% if g.search_form %}
            <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search', user=user.id) }}">
                <div class="form-group">
                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                </div>
            </form>
            {% endif %}
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>反思</th>
                        <th>评论</th>
                    </tr>
                </thead>
                <tbody>
                    {% for story in storys %}
                    <tr>
                        <td><a href="#">{{ story.title }}</a></td>
                        <td>{{ story.comments | length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </td>
    </tr>
</table>
<hr> {% endblock %}